.graph {
  height: 400px;
}

.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 500px;
}

.formula {
  margin-top: 10px;
}

.index {
  text-align: center;
  align-items: center;
}

.index-1 {
  margin-top: 50px;
  text-transform: uppercase
}

.index-2 {
  margin-top: 50px;
  font-style: italic;
}

.index-3 {
  margin-top: 50px;
}

.index-button {
  margin-top: 50px;
  margin-bottom: 50px;
}